body {
    font-family: Georgia, serif;
}

div#menuBar {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

div#menuBar table {
    margin: 40px auto 0px auto;
    font-size: 20px;
    border-bottom: solid 2px #e3f2fd;
}

div#menuBar td {
    padding: 20px 30px;
}

.captionModal {
    width: 100%;
    
}

table.modalCaption {
    margin-top: 10px;
}

table.modalCaption th {
    text-align: right;
    width: 40%;
    font-weight: normal;
    padding-top: 5px;
    padding-right: 15px;
    vertical-align: top;
}

table.modalCaption td {
    padding-top: 5px;
    vertical-align: top;
}

span#span-close {
    vertical-align: top;
}

div.thumb_img {
    text-align: center;
}

div.thumb_img img {
    margin: 4px;
    cursor: pointer;
}

div#modal-body-img {
    text-align: center; 
    height: 700px;
    background-position: center; 
    background-repeat: no-repeat;
}

div#modal-body-prevImg {
    float: left; 
    width: 50%; 
    height: 700px;
    cursor: w-resize;
}

div#modal-body-nextImg {
    float: right; 
    width: 50%; 
    height: 700px;
    cursor: e-resize;
}

img.img_thumb {
    margin: 5px 5px 0 0;
}
table#postcardsBySize {
    width: 100%;
}
table#postcardsBySize td {
    border: 1px #aaa solid;
}

table.library {
    width: 100%;
    font-family: Georgia, serif;
    font-size: 14px;
    margin-left: 30px;
}

table.library td {
    vertical-align: top;
    padding: 5px;
    border-top: 1px solid #c1e2b3;
}

td.library_1 {
    width: 20px;
}
td.library_2 {
    width: 20px;
}
td.library_3 {
    width: 600px;
}
td.library_4 {
    width: 200px;
}
td.library_5 {
}

.sender-unknown { background-color: #d9edf7 }
.sender-bought { background-color: #d9edf7 }
.sender-I { background-color: #bce8f1 }
.sender-Alex { background-color: #afd9ee }
.sender-Aliona { background-color: #fcf8e3 }
.sender-MihailT { background-color: #dff0d8 }
.sender-mother { background-color: #c1e2b3 }
.sender-father { background-color: #BDE4A7 }
.sender-JuliaT { background-color: #FFD275 }
.sender-LevT { background-color: #f7ecb5 }
.sender-grandZF { background-color: #d9edf7 }
.sender-LudminaFamily { background-color: #d9edf7 }
.sender-others { background-color: #d9edf7 }
.sender-grandMI_EI { background-color: #d9edf7 }
.sender-Irina { background-color: #e4b9b9 }
.sender-SashaSt { background-color: #75B8C8 }
.sender-IrinaFamily { background-color: #d9edf7 }
.sender-Nataly { background-color: #D8A48F }
.sender-NatalyFamily { background-color: #d9edf7 }
.sender-LusaFamily { background-color: #d9edf7 }
.sender-ArikKristine { background-color: #d9edf7 }
.sender-uncleIgor { background-color: #d9edf7 }
.sender-NatPav { background-color: #d9edf7 }
.sender-Salatetis { background-color: #d9edf7 }
.sender-employer { background-color: #d9edf7 }
.sender-school { background-color: #d9edf7 }
.sender-VenerandaAl { background-color: #d9edf7 }
.sender-JelenaJe { background-color: #d9edf7 }
.sender-LarisaVi { background-color: #d9edf7 }
.sender-ArinaK { background-color: #d9edf7 }
.sender-DianaB { background-color: #d9edf7 }
.sender-InnaM { background-color: #d9edf7 }
.sender-IrinaP { background-color: #d9edf7 }
.sender-MarinaM { background-color: #d9edf7 }
.sender-RuslanZ { background-color: #d9edf7 }
.sender-KristinaZ { background-color: #d9edf7 }
.sender-OlesjaZ { background-color: #d9edf7 }
.sender-ElenaU { background-color: #d9edf7 }
.sender-EvgenijaB { background-color: #d9edf7 }
.sender-KaterinaSk { background-color: К#d9edf7 }
.sender-OlgaTk { background-color: #d9edf7 }
.sender-VikaTi { background-color: #d9edf7 }
.sender-Dagnija { background-color: #d9edf7 }
.sender-ArturNi { background-color: #d9edf7 }
.sender-SergejMatveev { background-color: #d9edf7 }
.sender-IlonaHo { background-color: #d9edf7 }
.sender-JuraM { background-color: #d9edf7 }
.sender-KonstantinVladaB { background-color: #d9edf7 }
.sender-EmmaGlebS { background-color: #d9edf7 }
.sender-EvaZu { background-color: #d9edf7 }
.sender-RaimondsSk { background-color: #d9edf7 }
.sender-MarinaSk { background-color: #d9edf7 }
.sender-MHB { background-color: #d9edf7 }
.sender-LudmilaViktor { background-color: #d9edf7 }
.sender-Sergej { background-color: #d9edf7 }
.sender-AleksanderLunev { background-color: #d9edf7 }
.sender-IvanHafizov { background-color: #d9edf7 }
.sender-PolinaNesterova { background-color: #d9edf7 }
.sender-JanaFrank { background-color: #d9edf7 }
.sender-Tony { background-color: #d9edf7 }
.sender-OwlKitty { background-color: #d9edf7 }
.sender-RolfSc { background-color: #d9edf7 }
.sender-TheFlowerLetters { background-color: #d9edf7 }
.sender-tozando_com { background-color: #d9edf7 }
.sender-Anita { background-color: #d9edf7 }
.sender-OlgaKa { background-color: #d9edf7 }